body {
  font-family: 'Ubuntu', sans-serif;
  background-color:#dddddd
}
#page-wrap {
  min-height: 100%;
position: relative;
padding-bottom: 55px;
}
.logo {
  background-image: url(/images/logo.gif);
  height:67px;
  width:270px;
  background-repeat: no-repeat;
}
a.logo {
  top: 80px;
    left: 80px;
    position: absolute;
}
.header {
  background: #069;
  height:200px;position: relative;
  overflow: hidden;
}
.header::before {
  content:'';
  position: absolute;
  display: block;
  height: 512px;
  right: -50px;
  position: absolute;
  width: 849px;
  background-image: url(/images/hotel.png);
  bottom:-30px;
}
.header .navbar {
  width:100%;
  background-color:rgba(0,0,0,.7);
  box-shadow: none;
  position:fixed;
  color:#fff;
  z-index: 4;
}
.header .users_online {
  background: #fff;
  border-radius: 5px;
}
.navbar {
  width:100%;
  background-color:#fff;
  box-shadow: 0 4px rgba(0,0,0,.2);
  position: relative;
}
.navbar>.container {
  display: block;
}
.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #069;
  min-width: 160px;
  box-shadow:0 4px rgba(0,0,0,.2);
  z-index: 1;
  border-radius: 0 0 4px 4px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:rgba(0,0,0,.03)}

.dropdown:hover .dropdown-content {display: block;}
.header .navbar ul{
  display: inline;
}
.header .navbar ul li {
  position: relative;padding-left:25px;
  image-rendering:pixelated;
  display: inline-block;
}
.header .navbar ul li:before {
  width: 20px;
    display: block;
    left: 0;
    content: '';
    top: 50%;
    background-image: url(/images/sprite.png);
    background-repeat: : no-repeat;
}
.header .navbar  ul li.credits:before {
  background-position: -44px -487px;
  height: 20px;
  margin-top: -10px;
  position: absolute;
  background-position: -44px -487px;
}
.header .navbar  ul li.diamonds:before {
  background-position: -22px -487px;
height: 20px;
margin-top: -10px;
position: absolute;
}
.shadowed {
  -webkit-filter: drop-shadow(0 0 4px rgba(0,0,0,.3));
    filter: drop-shadow(0 0 4px rgba(0,0,0,.3));
}
.right {
  float: right;

}
.left {
  float:left;
}
.footer {
  position: absolute;
  bottom:0;
  background: #001726;
  width:100%;
  color:#fff;
  height:70px;
  line-height: 60px;
}
.footer .left,.footer .right {
  padding-top: 8px;
}
.footer .right {
  background-image: url(/images/goldfish.png);
  background-repeat: no-repeat;
  background-position:left center;
  padding-left:55px;
}
.box {
  border:1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px rgba(0,0,0,.2)
}
.box.meview {
  background-image: url(/images/me/view_1.png);
  background-position: center;
  padding-top:148px;
  position: relative;
  border:0;
}
.box.meview .plate {
  position: absolute;
top: 48px;
left: 15px;
background: url(/images/me/info_habbo_plate.png) no-repeat 2px -162px;
text-align: center;
height: 138px;
position: absolute;
width: 96px;
}
.box.meview .habbo-info {
  background-color: #7b7b71;
  padding:13px;
}
.box.meview .habbo-info .motto {
  margin-left: 120px;
  border-radius: 5px;
  background-color: #fff;
  height: 18px;
padding: 2px 3px 4px;
font-size: 11px;
}
.grid-3 {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  margin-top:-10px;
}
.grid-3 .box.news {
  margin:10px;
  position: relative;
  height:200px;
  overflow: hidden;
  border:1px solid #000;
}
.grid-3 .box.news figure.thumbnail {
  border-radius: 4px;
  box-shadow: inset 0 5px rgba(255,255,255,.3);
  position: relative;
  height: 100%;
  background-position: right center;
  image-rendering:pixelated;
}
.grid-3 .box.news .shade {
  position:absolute;
  color:#fff;
  bottom:0;
  padding:3px 5px;
  display: block;
  width: 100%;
  text-align: center;
  transition: 0.5s ease;
  background: rgba(0,0,0,.4);
}
.grid-3 .box.news:hover {
  cursor: pointer;
  filter: brightness(1.115);
}
.grid-3 .box.news:hover .shade {
  background: rgba(0,0,0,.6);
}
.caret {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
