body {
  font-family: 'Ubuntu', sans-serif;
  background-color:#dddddd
}

#page-wrap, html {
  min-height: 100%;
position: relative;
padding-bottom: 55px;
}
.relative {
  position: relative;
}
.logo {
  background-image: url(/images/logo.gif);
  height:67px;
  width:270px;
  background-repeat: no-repeat;
}
a.logo {
  top: 80px;
    position: absolute;
}
.header {
  background: #069;
  height:192px;position: relative;
  overflow: hidden;
}
.header::before {
  content:'';
  position: absolute;
  display: block;
  height: 512px;
  right: -50px;
  position: absolute;
  width: 849px;
  background-image: url(/images/hotel.png);
  bottom:0px;
}
.header .navbar {
  width:100%;
  background-color:rgba(0,0,0,.7);
  box-shadow: none;
  position:fixed;
  color:#fff;
  z-index: 4;
  padding:5px;
  font-size: 14px;
}
.header .users_online {
  background: #fff;
  border-radius: 5px;
}
.navbar {
  width:100%;
  background-color:#fff;
  box-shadow: 0 4px rgba(0,0,0,.2);
  position: relative;
  padding:0;
}
.navbar>.container {
  display: block;
}
.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #069;
  min-width: 160px;
  box-shadow:0 4px rgba(0,0,0,.2);
  z-index: 1;
  border-radius: 0 0 4px 4px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:rgba(0,0,0,.03)}

.dropdown:hover .dropdown-content {display: block;}
.header .navbar ul{
  display: inline;
  margin: 0;
}
.header .navbar ul li {
  position: relative;padding-left:25px;
  image-rendering:pixelated;
  display: inline-block;
}
.header .navbar ul li:before {
  width: 20px;
    display: block;
    left: 0;
    content: '';
    top: 50%;
    background-image: url(/images/sprite.png);
    background-repeat: : no-repeat;
}
.header .navbar  ul li.credits:before {
  background-position: -44px -487px;
  height: 20px;
  margin-top: -10px;
  position: absolute;
  background-position: -44px -487px;
}
.header .navbar  ul li.diamonds:before {
  background-position: -22px -487px;
height: 20px;
margin-top: -10px;
position: absolute;
}
.shadowed {
  -webkit-filter: drop-shadow(0 0 4px rgba(0,0,0,.3));
    filter: drop-shadow(0 0 4px rgba(0,0,0,.3));
}
.right {
  float: right;

}
.left {
  float:left;
}
.footer {
  position: absolute;
  bottom:0;
  background: #001726;
  width:100%;
  color:#fff;
  height:70px;
  line-height: 60px;
}
.footer .left,.footer .right {
  padding-top: 8px;
}
.footer .right {
  background-image: url(/images/goldfish.png);
  background-repeat: no-repeat;
  background-position:left center;
  padding-left:55px;
}
.box {
  border:1px solid rgba(0,0,0,.3);
  border-radius: 5px;
  box-shadow: 0 4px rgba(0,0,0,.2);
  margin-bottom:10px;
  background: #fff;
  padding:5px;
  position: relative;
}
.box.meview {
  padding:0;
  box-shadow:  0 4px #a0a097;
  background-position:center 350px;
  padding-top:148px;
  position: relative;
  border:0;
}
.box.meview .plate {
  position: absolute;
top: 48px;
left: 15px;
background: url(/images/me/info_habbo_plate.png) no-repeat 2px -162px;
text-align: center;
height: 138px;
position: absolute;
width: 96px;
}
.box.meview .habbo-info {
  background-color: #7b7b71;
  padding:13px;
}
.box.meview .habbo-info .motto {
  margin-left: 120px;
  border-radius: 5px;
  background-color: #fff;
  height: 18px;
padding: 2px 3px 4px;
font-size: 11px;
}
.grid-3 {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 5px;
  grid-column-gap: 10px;
}
.grid-3 .box.news {
  border-radius: 7px;
  padding:0;
  position: relative;
  height:200px;
  overflow: hidden;
  border:1px solid #000;
}
.grid-3 .box.news figure.thumbnail {
  border-radius: 6px;
  box-shadow: inset 0 7px rgba(255,255,255,.3);
  position: relative;
  height: 100%;
  background-position: right center;
  image-rendering:pixelated;
}
.grid-3 .box.news .shade {
  position:absolute;
  color:#fff;
  bottom:0;
  padding:3px 5px;
  display: block;
  width: 100%;
  text-align: center;
  transition: 0.5s ease;
  background: rgba(0,0,0,.4);
}
.grid-3 .box.news:hover {
  cursor: pointer;
  filter: brightness(1.115);
}
.grid-3 .box.news:hover .shade {
  background: rgba(0,0,0,.6);
}
.caret {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.feed-items {
  background-color: #a0a097;
}
.feed-items .item {
  padding:5px;
  border-top:1px dotted #7b7b73;
}
.feed-items .alert {
  font-weight: normal;
  margin-bottom:0;
  font-size: 12px;
}
.enter_hotel {
  color:#fff;
  border:2px solid #000;
  background: #3ba800;
  padding:10px 20px;
  box-shadow: 0 0 0 2px #fff,
              inset 0 0 0 1px rgba(0,0,0,.3),
              inset 3px -3px #50c60f;
  border-radius: 5px;
}
.box.meview .enter_hotel {
  top: 50px;
position: absolute;
right: 30px;
}
.box .heading {
  color:#fff;
  border-radius: 4px;
  background: #fc6204;
  text-align: center;
  line-height: 17px;
  padding:4px 10px;
  position: relative;
}
.box .heading:before{
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    left: 2px;
    right: 2px;
    height: 2px;
    background: rgba(255,255,255,.4);
}
.box .content {
  padding:5px;
}
.habbo_badge {
  width:50px;
  height:50px;
  display: inline-block;
  position: relative;
}
.habbo_badge img {
  position: absolute;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
   position: relative;
   width: 100%;
   padding-right: 5px;
   padding-left: 5px;
}
.row .row {
  margin-left:-5px;
  margin-right:-5px
}
.box.blue .heading {
  background: #1DA1F2;
}
ul.navigation {
  list-style: none;
  padding:0;
  margin:0;
  height: 55px;

}
ul.navigation li {
  display: inline;
  line-height: 55px;
  padding-right: 48px;
}
ul.navigation li a {
  color:#036;
  font-size: 20px;
}
ul.navigation li a.selected {
  color:#9c9c9c;
}
.sub-navigation {
  background: #001726;
  color:#fff;
  padding:0 12px;
  height:50px;
}
.sub-navigation ul.navigation {
  height:50px;
}
.sub-navigation ul.navigation li {
  display: inline-block;
    height: 50px;
    line-height: 50px
}
.sub-navigation ul.navigation li a {
  line-height: 50px;color:#fff;
  font-size: 18px
}
.sub-navigation ul.navigation li a.selected {
  color:#6796b1;
}
