body {
    background-color: #bce0ee;
    background-image: none;
    padding: 12px;
}
.processor {
  padding:2px 21px;
  background: #fff;
  border-radius: 7px;
  border:1px solid rgba(125, 168, 186,0.8);
  border-bottom-width: 3px;
}
.header {
  font-size: 11px;
  position: relative;
  margin-bottom:10px;
}
.logo {
  margin-top:16px;
}
.header span {
  color:#fc6204;
}
.header span b{
  color:#000;
}
.bottom {
  position: absolute;
  bottom:0;
}
.right {
  position: absolute;
  right:15px;
}
.left {
  position: absolute;
  left:15px;
}
footer {
  padding:16px;
  text-align: center;
  font-size: 11px;
  color:#777;
}
footer p {
  margin:0;
}
.box {
  border-radius:6px;
  background: #3399cc;
  color:#fff;
  padding:6px;
  margin-bottom:5px;
}
.box.grey {
  background: #7B7B71;
  padding:8px;
  box-shadow: 0 3px rgba(0,0,0,.2)
}
.box.red {
  background:red;
}
.box.green {
  background: #3ba800;
}
.controls a,
.controls button {
  font-weight: bold;
  color:#fff;
  font-size: 12px;
  border:2px solid;
  border-bottom-width: 4px;
  padding:4px 6px;
  line-height: 12px;
  position: absolute;
  font: 400 13.3333px Arial;
}
.controls a:hover,
.controls button:hover {
  text-decoration: none;
  filter: brightness(1.1);
}
.box.grey a {
  color:#000;
}
.box a {
  color:#fc6204;
  text-decoration: underline;
}
.controls a.green,
.controls button.green {
  background: #3ba800;
  border-color:#194800;
  left:0;
}
.controls a.red,
.controls button.red {
  background: #FF0000;
  border-color: #800000;
  right:0;
}
.controls {
  position: relative;
  display: block;
  height: 30px;
}
h2 {
  margin: 0;
  padding: 0 5px;
  font-size: 18px;
  text-align: center;
}
.form-group {
  margin-bottom:2px;
}
.form-group label {
  display: block;
  margin:0;
  font-size: 12px;
  font-weight: bold;
}
.form-group .inputs{
  padding:3px;
  font-size: 11px;
  border: 1px solid white;
  width: 100%
}
footer a {
  color:#000000;
  text-decoration: underline;
}
